<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <includeContext>false</includeContext>
            <customFields>{"app":"tate-yoko-pdf"}</customFields>
            <fieldNames>
                <timestamp>ts</timestamp>
                <message>msg</message>
                <thread>thread</thread>
                <logger>logger</logger>
                <level>level</level>
                <stackTrace>stack</stackTrace>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON" />
    </root>

    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="io.javalin" level="INFO" />
    <logger name="org.apache.pdfbox" level="WARN" />
</configuration>
